@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

/* Setting Project Colors */
:root {
    --main-red: #E50914;
    --border-section: #222222;
    --faq-questions-background: #303030;
    --footer-text-color: #757575;
}

/* Reseting CSS */
* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", "Roboto", Arial, sans-serif;
}

/* Body-Container Config */
#body-content {
    color: white;
    width: 100%;
    overflow-x: hidden;
}

a { /* Setting Standard Style for Anchors */
    text-decoration: none;
    color: white;
}

section, footer { /* Giving every Section a border-bottom */
    border-bottom: 8px solid var(--border-section);
    background-color: black;
}

/* First Section Style */ 
#first-section { /* Centering Section and adding a blur to it */
    margin: 0 auto;
    background: linear-gradient(to top,rgba(0,0,0,1) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,0.85));
    background-color: none;
}

/* Navbar - Header */
#navigation-bar {
    padding-top: 20px;
    margin: 0 3.5rem;
}

.nav-content { /* Container that organizes the content inside of navbar */
    height: auto;
    display: flex;
    align-items: center;
    padding-top: .5rem;
}

#navbar-brand { /* Netflix logo Div */
	width: 134px;
}

#navbar-brand img { /* Setting logo size */
    width: 100%;
}

/* Menu Buttons Styling */
.navbar-buttons { /* Giving a left-marging to throw the buttons Div to end */
	margin-left: auto;
}

.lang-dropdown { /* Styling Dropdown-Select Button */
    width: 132px;
    height: 36px;
    padding: 8px 22px;
    font-size: .875rem;
    line-height: 1.3em;
	margin-left: 12px;
    margin-right: 32px;
    white-space: nowrap;
	text-indent: 0;
    color: white;
    background-color: rgba(0, 0, 0, .4);
    border: 1px solid #aaa;
	border-radius: 1px;

    /* Icon Approach */
	background-image: url(images/world-wide-web.svg);
	background-repeat: no-repeat;
	background-size: 1em auto;
	background-position: 0.5em center;
}

.btn-login { /* Styling Login Button */
    background-color: var(--main-red);
    height: 36px;
    padding: 7px 17px;
    border-radius: 3px;
    text-align: center;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

/* Background Config */
.hero-container { /* Configuring flexible container for content */
    position: relative;
    padding: 70px 45px;
    margin: 0 auto;
    text-align: center;
    background: none;
}

.background-div { /* Positioning Background-Image */
    position: absolute;
    top: -70px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    filter: brightness(70%);
    z-index: -1;
}

.background-img { /* Image Config */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* About Us Card-Text */
.card { /* Card-Content Styling */
    padding: 75px 0;
    max-width: 950px;
}

.card-header { /* Block with title and subtitle */
    max-width: 640px;
}

.card, .card-header { /* Similiraties with card and card-header styles */
    margin: 0 auto;
}

.card-title { /* Card title unique style */
    font-size: 3.125rem;
    line-height: 1.1;
}

.card-subtitle { /* Card subtitle unique style */
    font-size: 1.625rem;
    margin: 1rem 0;
}

/* Styling Email-Form Input */
.email-form { /* Email-Form Box Styling */
    max-width: 950px;
    padding-top: .85rem;
    text-align: center;
    margin: 0 auto;
}

.form-label { /* Input Header Style */
    font-size: 1.2rem;
    padding-bottom: 20px;
}

.card-subtitle, .form-label { /* Similiraties with card subtitle style and form-label style */
    font-weight: 400;
}

.form-buttons { /* Styling input and button holder */
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-btn, .email-input { /* Applying border-radius to form components */
    border-radius: 2px;
}

.email-input { /* Styling email-input */ 
    background-color: white;
    padding: 0 10px;
    min-width: 450px;
    height: 60px;
    border: 1px solid #8C8C8C;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.email-input::placeholder { /* Increasing font-size for input placeholder */
    font-size: 16px;
}

.email-btn { /* Submit button styling */
    background-color: var(--main-red);
    color:white;
    padding-right: 26px;
    padding-left: 26px;
    min-height: 60px;
    font-size: 25px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .45);
    border-left: 1px solid #333;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.svg-chevron { /* Styling chevron icon on submit button */
    position: relative;
    height: 20px;
    width: 20px;
    bottom: -2px;
}

.email-btn:hover { /* Hover animation for submit button */
    background-color: rgb(255, 27, 27);
}

/* Main Sections Standard Containers */
.container { /* Applying container class with flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1110px;
    text-align: left;
}

.row-reverse { /* Applying container class with row-reverse */
    flex-direction: row-reverse;
}

.text-column { /* Fixes text-column size */
    max-width: 52%;
    padding-right: 3rem;
}

.row-reverse .text-column { /* Inverts padding side on row-reverse containers */
    padding-right: 0;
    padding-left: 3rem;
}

.img-column { /* Fixes img-column size */
    max-width: 48%;
}

/* Second Section - Enjoy on TV */
#second-section .img-container { /* Sizing and positioning second's section image */
    max-width: 530px;
    margin-top: -13%;
}

#second-section .img-container img {
    width: 100%;
}

/* Third Section - Download Offline  */
#third-section .img-container { /* Sizing and positioning third's section image */
    max-width: 500px;
    margin-top: -9%;
    margin-left: -12%;
}

#third-section .img-container img {
    width: 100%;
}

/* Fourth Section - Device-Pile */
#fourth-section .img-container { /* Sizing and positioning fourth's section image */
    max-width: 555px;
    margin-top: -10px;
    margin-right: -4%;
}

#fourth-section .img-container img {
    width: 100%;
}


/* Fifth Section - Kids */
#fifth-section .img-container { /* Sizing fifth's section image */
    max-width: 505px;
}

#fifth-section .img-container img {
    width: 100%;
}

/* FAQ-Section */
#faq-section .container { /* Defines a flex-column direction */
    flex-direction: column;
}

#faq-section .card-title { /* Extra space at the section title */
    margin-bottom: .5rem;
}

.questions-list { /* Gives a size to questions-list */
    width: 75%;
    margin: 2em auto;
    max-width: 815px;
}

.btn-faq-question, .faq-answer { /* Styling Button and Content FAQ Blocks */
    color: white;
    background: var(--faq-questions-background);
    display: block;
    text-align: left;
    font-size: 26px;
    font-weight: 400;
}

.faq-list-item { /* Adds a margin between the items of the list */
    list-style-type: none;
    margin-bottom: 8px;
}

.btn-faq-question { /* Styling the button itself */
    margin-bottom: 1px;
    position: relative;
    width: 100%;
    border: 0;
    padding: .8em 2.2em;
    padding-left: 1.2em;
    cursor: pointer;
}

.btn-faq-question:hover { /* Simple animation for hovering */
    filter: brightness(90%);
}

.svg-close { /* Positiong and organizing the close button icon */
    position: absolute;
    right: 1em;
    top: 50%;
    height: 1em;
    width: 1em;
    fill: #fff;
    transform: translateY(-50%) rotate(-45deg);
    transition: .3s ease-in-out;
}

.svg-close.open { /* Rotates the button when the answer is being shown */
    transform: translateY(-50%);
}

.faq-answer { /* When the answer is not being shown, it's hidden */
    max-height: 0;
    overflow: hidden;
    transition: max-height .6s ease-in-out;
}

.faq-answer.open { /* When the answer is being shown, it's adapt's to the text */
    clear: both;
    max-height: 1200px;
}

.faq-answer-text { /* Padding to the text-block inside faq-answer */
    padding: 1.2em;
}

.faq-answer p:not(:last-of-type) { /* Puts an margin between paragraphs */
    margin-bottom: 2rem;
}

/* Footer */
#footer .hero-container { /* Aligns all the footer content to the left */
    text-align: left;
}

.footer-container { /* Styling content of the footer */
    min-width: 190px;
    max-width: 900px;
    font-size: 1em;
    color: var(--footer-text-color);
    margin: 0 auto;
}

.need-help-title { /* Gives the first line of text a margin-bottom */
    margin-bottom: 30px;
}

#footer .container { /* Styles the links block of items */
    margin: 0;
    font-size: 13px;
    align-items: baseline;
}

.links-column { /* Sets a width to the columns of links */
    width: 225px;
}

.nav-item { /* Styling nav-items */
    list-style-type: none;
    margin-bottom: 16px;
    min-width: 100px;
    padding-right: 12px;
}

#footer, .nav-link { /* Apllies color to the anchors */
    color: var(--footer-text-color);
}

.nav-link:hover { /* Applies an underline decoration at the anchors, when hovered */
    text-decoration: underline;
}

#footer .lang-dropdown { /* Applies a margin-top to the land-dropdown */
    width: 162px;
    height: 53px;
    margin-top: 20px;
    margin-left: 0px;
    color: var(--footer-text-color);
}

.footer-p { /* Styles the footer last line */
    font-size: 13px;
    margin-top: 24px;
}